@import '~shared/variables';

.header{
    padding: 15px 15px 16px;
    background: none;
    position: absolute;
    z-index: 401;
}

h1{
    margin: 0;
    font-size: 20px;
    color: #333;
    position: relative;
    display: inline-block;
    padding-left: 38px;
}

h1 a{
    color: #333;
    text-decoration: none;
}

.menu-button{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.colofon{
    position: absolute;
    left: 0;
    top: 62px;
    background: #fff;
    z-index: 1001;
    padding: 15px;
    max-width: 360px;
    max-height: 96%;
    max-height: calc(100vh - 78px);
    overflow-y: auto;
}