<div class="header">
  <h1> WK Kaart </h1>

  <mat-icon class="menu-button" (click)="colofonVisible = !colofonVisible"> menu </mat-icon>

</div>

<div class="colofon" *ngIf="colofonVisible">
  <h3>Over de WK Kaart</h3>
</div>

