@import '~shared/variables';

.main-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
}

sidebar {
    display: flex;
    flex: 1;
}

  @media(min-width: 768px){
    sidebar {
        width: 400px;
        max-width: 400px;
    }
  }

@media (min-width: 768px) {

    .main-content{
        flex-direction: row;
    }

}