/* map */

#map{
    flex: 1;
    background: #ddd;
    height: 100%;
}

.geogap-logo{
    position: absolute;
    bottom: 0px;
    z-index: 402;
    right: 10px;
    padding-top: 4px;
    text-align: center;
  }
  
  .geogap-logo img {
    width: 67px;
  }
