<div id="map">

    <div class="geogap-logo">
        <a href="https://geogap.nl" target="_blank">
          <img src="geogap@2x.png" width="110" alt="Geogap logo" title="De Kansenkaart Biodiversiteit is een project van Boerenverstand en Geogap.">
        </a>
    </div>
  
</div>