<div class="sidebar" [class.openparcelview]="parcelViewActive">

    <div class="wkview" *ngIf="!parcelViewActive">

        <h2>WK view</h2>

    </div>

    <div class="matchview" [@slideIn] *ngIf="parcelViewActive === true" [class.active]="parcelViewActive === true">
    
        <h2>Match view</h2>

        <mat-icon (click)="closeParcelView()">close</mat-icon>

    </div>

</div>
