@import '~shared/variables';

/* general */

h4, p{
    margin: 0;
    padding-left: 57px;
}

p{
    font-size: 14px;
    margin: 0;
}

h2{
    font-size: 19px;
    margin: 0;
    color: $white;
    background: $main-color;
    padding: 10px 30px 10px 10px;
}

h3{
    margin: 0;
}

/* sidebar */

.sidebar {
    width: 100%;
    flex: 1;
    position: relative;
    z-index: 500;
    max-height: 100%;
    overflow-y: auto;
}


/* matchview */

.matchview{
    position: relative;
}

.matchview h2{
    position: relative;
}

.matchview mat-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}