@import "theme-material.scss";
@import '~shared/variables';
@import url('https://fonts.googleapis.com/css?family=Muli:400,900');

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

body, html{
  height: 100%;
  width: 100%;
}

app {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* scrollbar */

body {
  scrollbar-arrow-color: rgb(196, 196, 196);
  scrollbar-track-color: rgb(250, 250, 250);
}

h1, h2, h3, h4, h5{
  font-family: 'Muli', sans-serif;
  font-weight: 900;
  color:#333;
}

p, span, a{
  font-family: 'Muli', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-input-placeholder {
  font-family: 'Muli', sans-serif !important;
}

:-moz-placeholder {
  font-family: 'Muli', sans-serif !important;
  opacity: 1;
}

::-moz-placeholder {
  font-family: 'Muli', sans-serif !important;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: 'Muli', sans-serif !important;
}

::-ms-input-placeholder {
  font-family: 'Muli', sans-serif !important;
}

::placeholder {
  font-family: 'Muli', sans-serif !important;
}

/* sidebar zaken */

sidebar{
  background: $dark-gray;
}

/* interface */

app-map-container{
  flex: 1;
  display: flex;
  max-width: 100%;
}

/* kaart */

.leaflet-map {
  height: 100%;
  width: 100%;
}

.leaflet-map {
  flex: 1;
  display: flex;
}
