@import '~@angular/material/theming';
@import './palette.scss';
@include mat-core();


$color-primary: mat-palette($md-palette);
$color-accent:  mat-palette($md-palette, A200, A100, A400);


$material-theme: mat-light-theme($color-primary, $color-accent);

@include angular-material-theme($material-theme);